* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: var(--text-color);
}

body {
    height: 100vh;
    background-color: var(--background-color);
}

:root {
    --title-color:#991B1B;
    --background-color: #FEE2E2;
    --text-color:  #B91C1C;
    --btn-font-color: #FEE2E2;
    --border-color: white;
}

header {
    text-align: center;
    background-color: var(--title-color);
    font-size: 3.8rem;
    color: white;
    padding: 10px;
    font-weight: 700;
}

a {
    text-decoration: none;
}

table {
    margin: 10px auto;
    padding: 0;
}

table thead tr:first-child th:first-child {
    font-size: 2.5rem;
    color: var(--title-color);
}

table thead tr th {
    font-size: 1.2rem;
    /* line-height: 2.5rem; */
    padding: 10px 0px;
    border: 2px solid var(--border-color);
}

table thead tr:first-child th {
    font-size: 2rem;
    /* line-height: 2.5rem; */
    padding: 20px 10px;
    border: 2px solid var(--border-color);
}

table tbody tr td {
    border: 2px solid var(--border-color);
    width: 20px;
}

table tbody tr td:first-child {
    font-size: 1.2rem;
    padding: 10px;
    /* position: fixed; */
    /* width: 120px; */
}

table tbody tr td:first-child p {
    width: 150px;
}

table tbody tr td:first-child span {
    display: none;
    position: absolute;
    transform: translate(-10px, -25px);
}

table tbody tr td:first-child:hover > span {
    display: initial;
}

table tbody tr td p {
   width: 100px;
   word-wrap: break-word;
   margin: auto;
   text-align: center;
}

.disabled {
    opacity: 0.5;
}

.btn {
    background-color: transparent;
    padding: 10px;
    border: 1.5px solid var(--btn-font-color);
    border-radius: 10px;
    outline: none;
    font-weight: 600;
    font-size: 1.10rem;
    margin: 15px 10px;
    float: right;
    color: var(--btn-font-color);
}

.btn:hover {
    background-color: var(--text-color);
    color: white
}

#popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    /* display: none;    */
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 1000ms;
    visibility: hidden;
    opacity: 0;
}

#popup-container:target {
    /* display: block; */
    visibility: visible;
    opacity: 1;
}

.task-popup {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 300px;
    border-radius: 20px;
    padding: 30px;
    width: 30vw;
    background: var(--title-color);
    /* opacity: 1; */
    transform:translate(-50%,-50%);
    /* border: 1px solid blueviolet; */
}

.task-popup p {
    font-size: 2.2rem;
    color: var(--btn-font-color);
}

.task-popup span {
    color: white;
    font-size: 1.2rem;
    display: none;
    text-shadow: 0px 0px 4px red;
}

.task-input {
    width: 100%;
    height: 30px;
    margin: 30px 10px;
}